.flex-container {
  display: flex;
}

.pelaaja {
  flex: 1;
  background-color: #f0f0f0;
  text-align: center;
}

.tietokone {
  text-align: center;
  flex: 1;
  background-color: #e0e0e0;
}

.tulokset {
  text-align: center;
}
